<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card>
    <ion-title>
      Home
    </ion-title>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos Registro Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Bienvenido {{data.usuario}}</p>


  <ion-footer>
    <ion-toolbar>
      <ion-title>
        Desarrollado app
      </ion-title>
    </ion-toolbar>
  </ion-footer>

